@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);
header {
  height: 44px;
  background-image: linear-gradient(to bottom, #0a5c71, #063642);
  position: relative; }
  header nav {
    position: absolute;
    bottom: 2px; }
    header nav li {
      display: inline-block;
      margin: 0 15px;
      vertical-align: baseline; }
      header nav li a {
        text-decoration: none;
        color: white; }
        header nav li a:hover {
          color: #efc94c; }

main {
  margin: 20px 20px 0;
  padding-bottom: 20px; }
  main h1 {
    color: #DF4848;
    font-weight: 600;
    font-size: 1.5em; }

footer {
  background: #333333;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%; }
  footer #socialmedia {
    width: 40%;
    margin: 0 auto;
    text-align: center; }
    footer #socialmedia li {
      display: inline-block;
      padding: 0 10px; }
      footer #socialmedia li a img {
        width: 30px;
        border-radius: 50%;
        overflow: hidden; }

body, ul, li {
  margin: 0;
  padding: 0;
  font: 200 1em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif; }

#main-wrapper {
  position: relative;
  min-height: 100vh; }

#main-content {
  width: 80%;
  margin: auto; }
  #main-content img {
    margin: 5px;
    width: calc(20% - 10px); }

.gallery {
  font-size: 0; }
  .gallery img {
    border-radius: 3px;
    overflow: hidden; }
    .gallery img.hidesm {
      display: none; }

.content {
  width: 80%;
  margin: 20px auto; }
  .content h2, .content h1 {
    display: block;
    color: #0e83a0;
    font-weight: 600; }
  .content-rooms {
    border-bottom: 1px solid #0e83a0; }
    .content-rooms img {
      width: 100%; }
    .content-rooms p {
      margin-bottom: 20px; }
  .content-dining {
    border-bottom: 1px solid #0e83a0;
    padding-bottom: 30px;
    margin-bottom: 20px; }
    .content-dining img {
      width: 45%;
      margin-right: 10%;
      display: inline-block;
      vertical-align: top;
      border: 1px solid #e8e8e8;
      padding: 10px;
      background-color: #FFFFFF;
      margin: 0 10px 10px 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); }
    .content-dining p {
      width: 45%;
      display: inline-block;
      margin-top: 0; }

form {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #FFFFFF;
  margin: 0 10px 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGVzLmNzcyIsInNvdXJjZXMiOlsic3R5bGVzLnNjc3MiLCJfdmFyaWFibGVzLnNjc3MiLCJfaGVhZGVyLnNjc3MiLCJfbWFpbi5zY3NzIiwiX2Zvb3Rlci5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgJ3ZhcmlhYmxlcycsICdoZWFkZXInLCAnbWFpbicsICdmb290ZXInO1xyXG5cclxuQGltcG9ydCB1cmwoaHR0cDovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2Nzcz9mYW1pbHk9RXhvKzI6NDAwLDIwMCw2MDAsODAwKTtcclxuXHJcblxyXG5cclxuYm9keSwgdWwsIGxpe1xyXG4gIG1hcmdpbjogMDtcclxuICBwYWRkaW5nOiAwO1xyXG4gIGZvbnQ6IDIwMCAxZW0vMS41ZW0gXCJFeG8gMlwiLCBcIkhlbHZldGljYSBOZXVlXCIsIEhlbHZldGljYSwgQXJpYWwsIHNhbnMtc2VyaWY7XHJcbn1cclxuXHJcbiNtYWluLXdyYXBwZXJ7XHJcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gIG1pbi1oZWlnaHQ6IDEwMHZoO1xyXG59XHJcblxyXG5cclxuXHJcbiRhbmNobzogMTAwJSAvIDU7XHJcbiNtYWluLWNvbnRlbnR7XHJcbiAgd2lkdGg6IDgwJTtcclxuICBtYXJnaW46IGF1dG87XHJcblxyXG4gIGltZ3tcclxuICAgIG1hcmdpbjogNXB4O1xyXG4gICAgd2lkdGg6IGNhbGMoI3skYW5jaG99IC0gMTBweCk7XHJcbiAgfVxyXG59XHJcblxyXG4uZ2FsbGVyeXtcclxuICBmb250LXNpemU6IDA7XHJcbiAgaW1ne1xyXG4gICAgYm9yZGVyLXJhZGl1czogM3B4O1xyXG4gICAgb3ZlcmZsb3c6IGhpZGRlbjtcclxuXHJcbiAgICAmLmhpZGVzbXtcclxuICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbi5jb250ZW50e1xyXG4gIHdpZHRoOiA4MCU7XHJcbiAgbWFyZ2luOiAyMHB4IGF1dG87XHJcbiAgaDIsIGgxe1xyXG4gICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICBjb2xvcjogJGNvbG9yLXNlY3VuZGFyaW87XHJcbiAgICBmb250LXdlaWdodDogNjAwO1xyXG4gIH1cclxuXHJcbiAgI3snJi0nKyRzdWZpam8tcm9vbXN9e1xyXG4gICAgYm9yZGVyLWJvdHRvbTogJGJvcmRlLXByaW1hcmlvO1xyXG4gICAgaW1ne1xyXG4gICAgICB3aWR0aDogMTAwJTtcclxuICAgIH1cclxuICAgIHB7XHJcbiAgICAgIG1hcmdpbi1ib3R0b206IDIwcHg7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAjeycmLScrJHN1Zmlqby1kaW5pbmd9e1xyXG4gICAgYm9yZGVyLWJvdHRvbTogJGJvcmRlLXByaW1hcmlvO1xyXG4gICAgcGFkZGluZy1ib3R0b206IDMwcHg7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAyMHB4O1xyXG4gICAgaW1ne1xyXG4gICAgICB3aWR0aDogNDUlO1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6IDEwJTtcclxuICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgICB2ZXJ0aWNhbC1hbGlnbjogdG9wO1xyXG5cclxuICAgICAgQGluY2x1ZGUgY2FyZCAoI2U4ZThlOCwgKDAgMnB4IDRweCAwIHJnYmEoMCwgMCwgMCwgMC4yKSwgMCAzcHggMTBweCAwIHJnYmEoMCwgMCwgMCwgMC4xOSkpKTtcclxuICAgIH1cclxuICAgIHB7XHJcbiAgICAgIHdpZHRoOiA0NSU7XHJcbiAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICAgICAgbWFyZ2luLXRvcDogMDtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcblxyXG5mb3Jte1xyXG4gIEBpbmNsdWRlIGNhcmQgKCNjY2MsICgwIDRweCA4cHggMCByZ2JhKDAsIDAsIDAsIDAuMiksIDAgNnB4IDIwcHggMCByZ2JhKDAsIDAsIDAsIDAuMTkpKSkgO1xyXG59XHJcbiIsIiRib29sZWFubzogdHJ1ZTtcclxuJG1pTnVsbDogbnVsbDtcclxuJG1pTWFwOiAoXCJib2Fja2dyb3VuZFwiOiAjNjY2NjY2LCBcImJvcmRlclwiOiAjMDAwMDAwKTtcclxuXHJcbiRjb2xvci1wcmltYXJpbzogI0RGNDg0ODtcclxuJGNvbG9yLXNlY3VuZGFyaW86ICMwZTgzYTA7XHJcbiRib3JkZS1wcmltYXJpbzogMXB4IHNvbGlkICRjb2xvci1zZWN1bmRhcmlvO1xyXG5cclxuJHN1Zmlqby1yb29tczogJ3Jvb21zJztcclxuJHN1Zmlqby1kaW5pbmc6ICdkaW5pbmcnO1xyXG5cclxuQG1peGluIGNhcmQgKCRjb2xvciwgJHNvbWJyYSl7XHJcbiAgYm9yZGVyOiAxcHggc29saWQgJGNvbG9yO1xyXG4gIHBhZGRpbmc6IDEwcHg7XHJcbiAgYmFja2dyb3VuZC1jb2xvcjogI0ZGRkZGRjtcclxuICBtYXJnaW46IDAgMTBweCAxMHB4IDA7XHJcbiAgYm94LXNoYWRvdzogJHNvbWJyYTtcclxufSIsIlxyXG5oZWFkZXJ7XHJcbiAgaGVpZ2h0OiA0NHB4O1xyXG4gIGJhY2tncm91bmQtaW1hZ2U6IGxpbmVhci1ncmFkaWVudCh0byBib3R0b20sICMwYTVjNzEsICMwNjM2NDIpO1xyXG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuXHJcbiAgbmF2e1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgYm90dG9tOiAycHg7XHJcbiAgICBsaXtcclxuICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgICBtYXJnaW46IDAgMTVweDtcclxuICAgICAgdmVydGljYWwtYWxpZ246IGJhc2VsaW5lO1xyXG4gICAgICBhe1xyXG4gICAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICAgICAgICBjb2xvcjogcmdiKDI1NSwgMjU1LCAyNTUpO1xyXG5cclxuICAgICAgICAmOmhvdmVye1xyXG4gICAgICAgICAgY29sb3I6ICNlZmM5NGM7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG59IiwibWFpbntcclxuICBtYXJnaW46IDIwcHggMjBweCAwO1xyXG4gIHBhZGRpbmctYm90dG9tOiAyMHB4O1xyXG5cclxuICBoMXtcclxuICAgIGNvbG9yOiAkY29sb3ItcHJpbWFyaW87XHJcbiAgICBmb250LXdlaWdodDogNjAwO1xyXG4gICAgZm9udC1zaXplOiAxLjVlbTtcclxuICB9XHJcbn0iLCJmb290ZXJ7XHJcbiAgYmFja2dyb3VuZDogIzMzMzMzMztcclxuICBwYWRkaW5nOiAyMHB4IDA7XHJcbiAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gIGJvdHRvbTogMDtcclxuICB3aWR0aDogMTAwJTtcclxuICAjc29jaWFsbWVkaWF7XHJcbiAgICB3aWR0aDogNDAlO1xyXG4gICAgbWFyZ2luOiAwIGF1dG87XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICBsaXtcclxuICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgICBwYWRkaW5nOiAwIDEwcHg7XHJcbiAgICAgIGF7XHJcbiAgICAgICAgaW1ne1xyXG4gICAgICAgICAgd2lkdGg6IDMwcHg7XHJcbiAgICAgICAgICBib3JkZXItcmFkaXVzOiA1MCU7XHJcbiAgICAgICAgICBvdmVyZmxvdzogaGlkZGVuO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufVxyXG4iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBRUEsT0FBTyxDQUFDLGlFQUFJO0FFRFosQUFBQSxNQUFNLENBQUE7RUFDSixNQUFNLEVBQUUsSUFBSTtFQUNaLGdCQUFnQixFQUFFLDRDQUE0QztFQUM5RCxRQUFRLEVBQUUsUUFBUSxHQW1CbkI7RUF0QkQsQUFLRSxNQUxJLENBS0osR0FBRyxDQUFBO0lBQ0QsUUFBUSxFQUFFLFFBQVE7SUFDbEIsTUFBTSxFQUFFLEdBQUcsR0FjWjtJQXJCSCxBQVFJLE1BUkUsQ0FLSixHQUFHLENBR0QsRUFBRSxDQUFBO01BQ0EsT0FBTyxFQUFFLFlBQVk7TUFDckIsTUFBTSxFQUFFLE1BQU07TUFDZCxjQUFjLEVBQUUsUUFBUSxHQVN6QjtNQXBCTCxBQVlNLE1BWkEsQ0FLSixHQUFHLENBR0QsRUFBRSxDQUlBLENBQUMsQ0FBQTtRQUNDLGVBQWUsRUFBRSxJQUFJO1FBQ3JCLEtBQUssRUFBRSxLQUFrQixHQUsxQjtRQW5CUCxBQWdCUSxNQWhCRixDQUtKLEdBQUcsQ0FHRCxFQUFFLENBSUEsQ0FBQyxBQUlFLE1BQU0sQ0FBQTtVQUNMLEtBQUssRUFBRSxPQUFPLEdBQ2Y7O0FDbkJULEFBQUEsSUFBSSxDQUFBO0VBQ0YsTUFBTSxFQUFFLFdBQVc7RUFDbkIsY0FBYyxFQUFFLElBQUksR0FPckI7RUFURCxBQUlFLElBSkUsQ0FJRixFQUFFLENBQUE7SUFDQSxLQUFLLEVGRFEsT0FBTztJRUVwQixXQUFXLEVBQUUsR0FBRztJQUNoQixTQUFTLEVBQUUsS0FBSyxHQUNqQjs7QUNSSCxBQUFBLE1BQU0sQ0FBQTtFQUNKLFVBQVUsRUFBRSxPQUFPO0VBQ25CLE9BQU8sRUFBRSxNQUFNO0VBQ2YsUUFBUSxFQUFFLFFBQVE7RUFDbEIsTUFBTSxFQUFFLENBQUM7RUFDVCxLQUFLLEVBQUUsSUFBSSxHQWlCWjtFQXRCRCxBQU1FLE1BTkksQ0FNSixZQUFZLENBQUE7SUFDVixLQUFLLEVBQUUsR0FBRztJQUNWLE1BQU0sRUFBRSxNQUFNO0lBQ2QsVUFBVSxFQUFFLE1BQU0sR0FZbkI7SUFyQkgsQUFVSSxNQVZFLENBTUosWUFBWSxDQUlWLEVBQUUsQ0FBQTtNQUNBLE9BQU8sRUFBRSxZQUFZO01BQ3JCLE9BQU8sRUFBRSxNQUFNLEdBUWhCO01BcEJMLEFBY1EsTUFkRixDQU1KLFlBQVksQ0FJVixFQUFFLENBR0EsQ0FBQyxDQUNDLEdBQUcsQ0FBQTtRQUNELEtBQUssRUFBRSxJQUFJO1FBQ1gsYUFBYSxFQUFFLEdBQUc7UUFDbEIsUUFBUSxFQUFFLE1BQU0sR0FDakI7O0FKWlQsQUFBQSxJQUFJLEVBQUUsRUFBRSxFQUFFLEVBQUUsQ0FBQTtFQUNWLE1BQU0sRUFBRSxDQUFDO0VBQ1QsT0FBTyxFQUFFLENBQUM7RUFDVixJQUFJLEVBQUUscUVBQXFFLEdBQzVFOztBQUVELEFBQUEsYUFBYSxDQUFBO0VBQ1gsUUFBUSxFQUFFLFFBQVE7RUFDbEIsVUFBVSxFQUFFLEtBQUssR0FDbEI7O0FBS0QsQUFBQSxhQUFhLENBQUE7RUFDWCxLQUFLLEVBQUUsR0FBRztFQUNWLE1BQU0sRUFBRSxJQUFJLEdBTWI7RUFSRCxBQUlFLGFBSlcsQ0FJWCxHQUFHLENBQUE7SUFDRCxNQUFNLEVBQUUsR0FBRztJQUNYLEtBQUssRUFBRSxnQkFBc0IsR0FDOUI7O0FBR0gsQUFBQSxRQUFRLENBQUE7RUFDTixTQUFTLEVBQUUsQ0FBQyxHQVNiO0VBVkQsQUFFRSxRQUZNLENBRU4sR0FBRyxDQUFBO0lBQ0QsYUFBYSxFQUFFLEdBQUc7SUFDbEIsUUFBUSxFQUFFLE1BQU0sR0FLakI7SUFUSCxBQU1JLFFBTkksQ0FFTixHQUFHLEFBSUEsT0FBTyxDQUFBO01BQ04sT0FBTyxFQUFFLElBQUksR0FDZDs7QUFJTCxBQUFBLFFBQVEsQ0FBQTtFQUNOLEtBQUssRUFBRSxHQUFHO0VBQ1YsTUFBTSxFQUFFLFNBQVMsR0FtQ2xCO0VBckNELEFBR0UsUUFITSxDQUdOLEVBQUUsRUFISixRQUFRLENBR0YsRUFBRSxDQUFBO0lBQ0osT0FBTyxFQUFFLEtBQUs7SUFDZCxLQUFLLEVDMUNVLE9BQU87SUQyQ3RCLFdBQVcsRUFBRSxHQUFHLEdBQ2pCO0VBRUEsQUFBRCxjQUFPLENBQWM7SUFDbkIsYUFBYSxFQzlDQSxHQUFHLENBQUMsS0FBSyxDQURQLE9BQU8sR0RzRHZCO0lBUkEsQUFFQyxjQUZLLENBRUwsR0FBRyxDQUFBO01BQ0QsS0FBSyxFQUFFLElBQUksR0FDWjtJQUpGLEFBS0MsY0FMSyxDQUtMLENBQUMsQ0FBQTtNQUNDLGFBQWEsRUFBRSxJQUFJLEdBQ3BCO0VBR0YsQUFBRCxlQUFRLENBQWM7SUFDcEIsYUFBYSxFQ3hEQSxHQUFHLENBQUMsS0FBSyxDQURQLE9BQU87SUQwRHRCLGNBQWMsRUFBRSxJQUFJO0lBQ3BCLGFBQWEsRUFBRSxJQUFJLEdBY3BCO0lBakJBLEFBSUMsZUFKTSxDQUlOLEdBQUcsQ0FBQTtNQUNELEtBQUssRUFBRSxHQUFHO01BQ1YsWUFBWSxFQUFFLEdBQUc7TUFDakIsT0FBTyxFQUFFLFlBQVk7TUFDckIsY0FBYyxFQUFFLEdBQUc7TUN6RHZCLE1BQU0sRUFBRSxHQUFHLENBQUMsS0FBSyxDRDJERSxPQUFPO01DMUQxQixPQUFPLEVBQUUsSUFBSTtNQUNiLGdCQUFnQixFQUFFLE9BQU87TUFDekIsTUFBTSxFQUFFLGFBQWE7TUFDckIsVUFBVSxFRHVEbUIsQ0FBQyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsQ0FBQyxDQUFDLGtCQUFrQixFQUFFLENBQUMsQ0FBQyxHQUFHLENBQUMsSUFBSSxDQUFDLENBQUMsQ0FBQyxtQkFBbUIsR0FDMUY7SUFYRixBQVlDLGVBWk0sQ0FZTixDQUFDLENBQUE7TUFDQyxLQUFLLEVBQUUsR0FBRztNQUNWLE9BQU8sRUFBRSxZQUFZO01BQ3JCLFVBQVUsRUFBRSxDQUFDLEdBQ2Q7O0FBS0wsQUFBQSxJQUFJLENBQUE7RUN0RUYsTUFBTSxFQUFFLEdBQUcsQ0FBQyxLQUFLLENEdUVGLElBQUk7RUN0RW5CLE9BQU8sRUFBRSxJQUFJO0VBQ2IsZ0JBQWdCLEVBQUUsT0FBTztFQUN6QixNQUFNLEVBQUUsYUFBYTtFQUNyQixVQUFVLEVEbUVZLENBQUMsQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLENBQUMsQ0FBQyxrQkFBa0IsRUFBRSxDQUFDLENBQUMsR0FBRyxDQUFDLElBQUksQ0FBQyxDQUFDLENBQUMsbUJBQW1CLEdBQ3ZGIn0= */
