$booleano: true;
$miNull: null;
$miMap: ("boackground": #666666, "border": #000000);

$color-primario: #DF4848;
$color-secundario: #0e83a0;
$borde-primario: 1px solid $color-secundario;

$sufijo-rooms: 'rooms';
$sufijo-dining: 'dining';