.info-page{
  h2, h1{
    @include rotulos;
  }

  $ancho-li: 100% / 3;
  #arrivalinfo{
    li{
      @include card (#e8e8e8);
      display: inline-block;
      margin: 7px;
      width: calc(#{$ancho-li} - 60px);
      vertical-align: top;
    }
  }

  .checklist{
    @extend .content;
    li{
      @include card (#e8e8e8);
      display: inline-block;

    }
  }
}