$booleano: true;
$miNull: null;
$miMap: ("boackground": #666666, "border": #000000);

$color-primario: #DF4848;
$color-secundario: #0e83a0;
$borde-primario: 1px solid $color-secundario;

$sufijo-rooms: 'rooms';
$sufijo-dining: 'dining';

@mixin card{
  border: 1px solid #666;
  padding: 10px;
  background-color: #FFFFFF;
  margin: 0 10px 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}